/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.phpunit.cache

# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# Logs and database
*.log
*.sql
*.sqlite

# Editor backup files
*~
*.swp
*.bak

# Additional Laravel specific
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
